addict
future
numpy
opencv-python
Pillow
pyyaml
requests
scikit-image
scipy
timm
einops
ninja
scikit-video
pyautogui
moviepy
matplotlib
easydict
numpy==1.23.0
yacs==0.1.8
Pillow==9.1.0
tb-nightly
yapf
ipython==7.21.0
openmim
Flask
kornia
einops
matplotlib
scikit-image
lmdb
easydict
timm
pymsgbox
shapely
tqdm
ultralytics
mmcv-full
mmedit
supervision
transformers
pycocotools